.logs-table {
  width: 100%;
  border-collapse: collapse;
}

.logs-table th,
.logs-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.logs-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.logs-table th {
  color: rgb(0, 0, 0);
}

.logs-table td.mac-address {
  max-width: 150px;
}

.logs-table td.log-message {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logs-table td.last-seen {
  max-width: 200px;
}

.masagge-colum {
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
  white-space: normal;
}
.mac-separator td {
  border-bottom: 3px solid #000;
}

@media (max-width: 768px) {
  .logs-table th,
  .logs-table td {
    padding: 4px;
    font-size: 14px;
    text-align: center;
  }

  .logs-container {
    padding: 10px;
  }

  .logs-table-container {
    overflow-x: auto;
  }
  .redTextForAlert {
    color: red;
    font-weight: 500;
    text-align: center;
  }
  .greenTextForConnection {
    color: green;
    text-align: center;
  }
  .message-column {
    text-align: center;
  }
  .logs-table td.log-message,
  .logs-table td.last-seen {
    max-width: none;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    text-align: center;
  }
}
