body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f4f4f4;
}

#modulesInfo {
  margin-top: 20px;
}

.module {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.Home-title {
  text-align: center;
}
.back-button {
  display: block;
  width: 150px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

#fetchModules {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

#fetchModules:hover {
  background-color: #0056b3;
}
